body
{
  background-color: #222327;
}

nav
{
  background-color: #222327;
  color: #755BB4;
  display:inline-block;
  margin: -8px 0px 0px -8px;
  width: 100%;
  border-bottom: #9480C1 solid 2px;
}

#slogo
{
  margin-left: 20px;
}

ul
{
  float: right;
  width: 60%;
  list-style-type: none;
}

nav ul li
{
  display: inline;
  width: 100%;
  padding: 0px 10px 0px 10px;  
}

nav ul li a
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #755BB4;
  font-size: 1.4em;
  text-decoration: none;
}