body
{
  background-color: #222327;
}

nav
{
  background-color: #222327;
  color: #755BB4;
  display:inline-block;
  margin: -8px 0px 0px -8px;
  width: 100%;
  border-bottom: #9480C1 solid 1px;
}

#slogo
{
  margin-left: 20px;
}

ul
{
  float: right;
  width: 40%;
  list-style-type: none;
  margin-top: 25px;
}

nav ul li
{
  display: inline;
  text-align: center;
  padding-right: 30px ;
  width: 25px; 
}

nav ul li a
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #755BB4;
  font-size: 1.3em;
  text-decoration: none;
}

#banner
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: #9480C1 solid 1px;
}

#lbanner, #rbanner
{
  display: inline-block;
}

#lbanner
{
  width: 60%;
  padding-left: 50px;
}

#lbanner h2
{
  color: #9480C1;
  font-size: 5em;
  padding: 0px 0px 0px 0px;
}

#lbanner h5, #lbanner p
{
  color: whitesmoke;
  font-size: 1.2em;
}

#lbanner p
{
  font-weight: 900;
}

#rbanner
{
  display: 40%;
}

#rbanner img
{
  width: 380px;
}

#banner #hibit
{
  display: inline-block;
  padding-left:70px;
}