/* Importing Font Style/Family from Google Fonts in next line*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Full Body Style is Set Here */
body
{
  background-color: #222327;
  font-family:'Source Code Pro', monospace;
}

/* Navigation Bar Style is Set Here */
nav
{
  background-color: #222327;
  color: #755BB4;
  display:inline-block;
  margin: -8px 0px 0px -8px;
  width: 100%;
  border-bottom: #9480C1 solid 1px;
}

/* Site Logo img Style is Set Here */
#slogo
{
  margin-left: 20px;
}
/* Navigation Bar: Unordered List Style is Set Here */
ul
{
  float: right;
  width: 40%;
  list-style-type: none;
  margin-top: 25px;
}

/* Navigation Bar: Unordered List: List Style is Set Here */
nav ul li
{
  display: inline;
  text-align: center;
  padding-right: 30px ;
  width: 25px; 
}

/* Navigation Bar: Unordered List: List: Link Style is Set Here */
nav ul li a
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #755BB4;
  font-size: 1.3em;
  text-decoration: none;
}

/* Banner Section Style is Set Here */
#banner
{
  border-bottom: #9480C1 solid 1px;
}

/* Banner: Right & Left Section Style is Set Here */
#lbanner, #rbanner
{
  display: inline-block;
}

/* Banner: Left Section Style is Set Here */
#lbanner
{
  width: 60%;
  padding-left: 50px;
}

/* Banner: Left Section: Heading Style is Set Here */
#lbanner h2
{
  color: #9480C1;
  font-size: 6em;
  margin: 0px 0px 20px 0px;
}

/* Banner: Left Section: Paragraph Style is Set Here */
#lbanner p
{
  color: whitesmoke;
  font-size: 2.5em;
  margin: 0px;
  margin-bottom: 20px;
  font-weight: 900;
}

/* Banner: Right Section Style is Set Here */
#rbanner
{
  display: 40%;
}

/* Banner: Right Section: Img Style is Set Here */
#rbanner img
{
  width: 320px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 120px;
  margin-top: 30px;
}

/* For Bitmoji */
/* #rbanner img
{
  width: 380px;
  display: inline-block;
  padding-left:70px;
} */

/* About && Skill && Education && Certificate && Contact Section Style is Set Here */
#aboutme , #skill , #education , #certificate , #contact
{
  width: 100%;
  border-bottom: 1px solid #9480C1;
  overflow-y:auto;
}

/* About && Skill && Education && Certificate && Contact Section: Heading Style is Set Here */
#aboutme h2 , #skill h2 , #education h2 , #certificate h2 , #contact h2
{
  color: #9480C1;
  text-align: center;
  font-size: 2.5em;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: white solid 1px;
}

/* About Section && Education Section && Contact Section: Left Section Style is Set Here */
#aboutme #labout , #education #ledu , #contact #lcontact
{
  width: 26%;
  float: left;
}

/* About Section && Education Section && Contact Section: Left Section: Img Style is Set Here */
#aboutme #labout img , #education #ledu img , #contact #lcontact img
{
  width: 380px;
  margin-top: 160px;
}

/* About Section && Education Section && Contact Section: Right Section Style is Set Here */
#aboutme #rabout, #education #redu , #contact #rcontact
{
  width: 59%;
  float: left;
  color: white;
  font-size: 1.8em;
  text-align: justify;
}

/* About Section: Right Section: Sub-Heading Style is Set Here */
#aboutme #rabout h3
{
  font-size: 1.2em;
  color: #9480C1;
  border-bottom: white solid 1px;
}

/* About Section: Right Section: Unordered-List Style is Set Here */
#aboutme #rabout ul
{
  float: left;
  margin: 0;
  width: 100%;
  list-style: square;
  margin-bottom: 30px;
}

/* About Section: Right Section: ul: List Style is Set Here */
#aboutme #rabout ul li
{
  margin: 5px;
}

/* Skill Section: Left Section Style is Set Here */
#skill #lskill
{
  float: left;
  color: white;
  font-size: 1.8em;
  width: 70%;
  float: left;
}

/* Skill Section: Left Section: Unordered List Style is Set Here */
#skill #lskill ul
{
  font-size: 1em;
  float: right;
  margin-right: 28%;
  width: 50%;
}

/* Skill Section: Left Section: Paragraph Style is Set Here */
#skill #lskill p
{
  background-color: #9480C1;
  font-size: 0.6em;
  color: white;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
}

/* Skill Section: Right Section Style is Set Here */
#skill #rskill
{
  width: 30%;
  float: right;
}

/* Skill Section: Right Section: Img Style is Set Here */
#skill #rskill img
{
  margin-top: 60px;
  width: 380px;
}

/* Education Section: Right Section: Sub-Heading Style is Set Here */
#education #redu h3
{
  color: #9480C1;
  font-size: 1.5em;
  margin: 0;
}

/* Education Section: Right Section: Degree Name Style is Set Here */
#education #redu h5
{
  margin: 32px 0px 0px 0px;
  font-size: 1em;
  font-weight: lighter;
}

/* Education Section: Right Section: Paragraph Style is Set Here */
#education #redu p
{
  margin: 0px 0px 40px 0px;
  font-size: 1em;
}

/* Certificate Section: Top Section Style is Set Here */
#certificate #tcerti
{
  width: 100%;
}

/* Certificate Section: Top Section: Img Style is Set Here */
#certificate #tcerti img
{
  display: block;
  width: 400px;
  margin: 0 auto;
}

/* Certificate Section: Bottom Section Style is Set Here */
#certificate #bcerti
{
  width: 90%;
  margin: 0 auto;
  overflow-y: auto;
}

/* Certificate Section: Bottom Section: Unordered List Style is Set Here */
#certificate #bcerti ul
{
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
}

/* Certificate Section: Bottom Section: ul: List Style is Set Here */
#certificate #bcerti ul li
{
  display: inline-block;
  width: 440px;
  margin: 0 auto;
}

/* Certificate Section: Bottom Section: ul: List: Img Style is Set Here */
#certificate #bcerti ul li img
{
  width: 350px;
  display: block;
  margin: 0 auto;
}

/* Certificate Section: Bottom Section: ul: List: Button Style is Set Here */
#certificate #bcerti ul li button
{
  width: 320px;
  height: 70px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #755BB4;
  font-size: 1.2em;
  text-align: center;
  border: none;
  border-radius: 12px;;
  padding: 10px;
}

/* Certificate Section: Bottom Section: ul: List: Button: Link Style is Set Here */
#certificate #bcerti ul li button a:link,
#certificate #bcerti ul li button a:visited,
#contact #rcontact button a:link,
#contact #rcontact button a:visited
{
  color: white;
  text-decoration: none;
}